.pieces {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.piece {
    width: var(--square-size);
    height: var(--square-size);
    position: absolute;
    background-size: 100%;
    background-image: var(--piece-image);
    z-index: 10;
}
