.promotion-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.promotion-dialog {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.promotion-options {
    display: flex;
    justify-content: space-around;
}

.promotion-option {
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
}

.promotion-option:hover {
    background-color: #eee;
}