.fen-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.fen-string {
    padding: 10px;
    border-radius: 4px;
    font-family: var(--main-font-family);
    word-break: break-all;
    font-size: 14px;
}

.copy-fen-button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.copy-fen-button:hover {
    background-color: #45a049;
}
