:root {
    --square-size: 95px;
    --light-square: #ECE4B7;
    --dark-square: #63934D;
    --bg-color: #25252D;
    --highlight-light-square: #D8C86E;
    --highlight-dark-square: #D4C25E;
    --drag-hover-light-border: #F6F3DF;
    --drag-hover-dark-border: #77AB5F;
    --legal-move-dot-color: #6CA054;
    --legal-move-dot-size: 30%;
    --king-check-flash-color: #D36135;
    --king-check-flash-duration: 0.25s;
    --main-font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --button-bg-color: #373743;
    --button-text-color: #ffffff;
    --history-bg-color: #2E2E38;
    --history-text-color: #ccc;
    --button-size: var(--square-size);
    --button-height: calc(var(--button-size) / 2);
    --button-icon-size: 25px;
    --history-width: calc(3 * var(--button-size) + 20px);
}
