:root {
    --square-size: 100px;
    --light-square: #e4f5e5;
    --dark-square: #419457;
    --bg-color: #202020;
    --highlight-light-square: #e8e680;
    --highlight-dark-square: #b9ca42;
    --drag-hover-light-border: #fff;
    --drag-hover-dark-border: #b4bfb7;
}
