.board {

}

.squares {
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
    width: calc(8 * var(--square-size));
}

.square {

}

.square--light {
    background: var(--light-square)
}

.square--dark {
    background: var(--dark-square)
}
